@{
    ViewBag.Title = "List";
    Layout = "~/Views/ManagerIndex/Index.cshtml";
}
<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-body no-padding">
        <table class="table table-striped">
            <thead>
                <tr class="warning">
                    <th>功能模块名</th>
                    <th>图标名</th>
                    <th>链接地址</th>
                    <th>是否启用</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="DataBody">
                
            </tbody>
        </table>
    </div>
</div>
<div style="float:right" id="pagearea">
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Modal title</h2>
            </div>
            <div class="modal-body">
                <h2>Text in a modal</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                <h2>Tooltips in a modal</h2>
                <p><a href="#" class="tooltips" title="" data-original-title="Tooltip">This link</a> and <a href="#" class="tooltips" title="" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>

                <hr>
                <h2>Overflowing text to show scroll behavior</h2>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p><img src="images/pic3.jpg" class="img-responsive" alt="Fountain" class="img-rounded img-responsive"></p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@*<script src="/Scripts/jquery-1.9.1.min.js"></script>*@
<script>
    $(document).ready(function () {
        InitData();
    });
    function InitData() {
        $.getJSON("/Manager/SystemPlate/InitData",
            {
                pagesize:"10"
            },
            function (data) {
                debugger;
                var tablehtml = "";
                var items=data.Items;
                $.each(items, function (i) {
                    var statusname = (items[i].Status == "1" ? "已启用" : "未启用");
                    tablehtml += "<tr>"
                    + "<td>" + items[i].TypeName + "</td>"
                    + "<td>" + items[i].IconName + "</td>"
                    + "<td>" + items[i].LinkUrl + "</td>"
                    +"<td>"+statusname+"</td>"
                    + "<td>" + items[i].Memo + "</td>"
                    +"<td><button type=\"button\" class=\"btn btn-xs btn-warning warning_44\" data-toggle=\"modal\" data-target=\"#myModal\">编辑</button>"
                        +"<button type=\"button\" class=\"btn btn-xs btn-danger\">删除</button>"
                    +"</td>"
                +"</tr>";
                });
                $("#DataBody").html(tablehtml);
                loadpageinfo(data.CurrentPage, data.TotalPages);
            }
        )
    }
    function loadpageinfo(currentpage, totalpage) {
        $.post("/Manager/WebPage/PageInfo",
                    {
                        pagenum: totalpage,
                        currentpage: currentpage,
                        actionname: "/Manager/SystemPlate/List"
                    },
                    function (data, status) {
                        if (status == "success") {
                            $("#pagearea").html(data);
                        }
                    }
                    );
    }
</script>