<ul class="pagination pagination-sm" id="tpageinfo">
    
</ul>

<script src="/Scripts/jquery-1.9.1.min.js"></script>
<script>
    var pagehtml;
    var currentpage;
    var pagenum;
    var actionname;
    var pagearea;
    $(document).ready(function () {
        $.getJSON("/Manager/WebPage/LoadPageInfo", {}, function (data) {
            //alert(data.currentpage);
            currentpage = data.currentpage;
            pagenum = data.pagenum;
            actionname = data.actionname;
            pagearea = parseInt((parseInt(currentpage) / 10));
            initpage();
        });
        
    });
    function initpage() {
        debugger;
        if (parseInt(pagearea)<1) {
            pagehtml = "<li class=\"disabled\"><a href=\"#\"><i class=\"fa fa-angle-left\"></i></a></li>";
        }
        else {
            if (currentpage%10==0&&pagearea==1) {
                pagehtml = "<li class=\"disabled\"><a href=\"#\"><i class=\"fa fa-angle-left\"></i></a></li>";
            }
            else {
                pagehtml = "<li><a href=\"#\" onclick=\"LeftFunc();\"><i class=\"fa fa-angle-left\"></i></a></li>";
            }
        }
        var zonemax = 0;
        if ((parseInt(pagearea)+1)*10<=parseInt(pagenum)) {
            zonemax = (parseInt(pagearea) + 1) * 10;
        }
        else if ((parseInt(pagearea) + 1) * 10 > parseInt(pagenum)) {
            zonemax = pagenum;
        }
        else if (currentpage == pagenum) {
            zonemax = pagenum;
        }
        var zonemin = parseInt(parseInt(pagearea) * 10 + 1);
        if (parseInt(parseInt(currentpage) % 10) == 0) {
            zonemin = parseInt(parseInt(pagearea - 1) * 10 + 1);
            zonemax = parseInt(pagearea) * 10;
        }
        if (zonemax >= pagenum) {
            zonemax = pagenum;
        }
        for (var i = zonemin ; i <= zonemax; i++) {
            if (currentpage == i) {
                pagehtml += "<li class=\"active\"><a href=\"" + actionname + "/" + i + "\">" + i + "</a></li>";
            }
            else {
                pagehtml += "<li><a href=\"" + actionname + "/" + i + "\">" + i + "</a></li>";
            }
        }
        if (parseInt(zonemax) < parseInt(pagenum)) {
            pagehtml += "<li><a href=\"#\" onclick=\"RightFunc();\"><i class=\"fa fa-angle-right\"></i></a></li>";
        }
        else {
            pagehtml += "<li class=\"disabled\"><a href=\"#\"><i class=\"fa fa-angle-right\"></i></a></li>";
        }
        $("#tpageinfo").html(pagehtml);
    }
    function LeftFunc() {//页码向前
        pagearea = parseInt(pagearea) - 1;
        initpage();
    }
    function RightFunc() {//页码向后
        pagearea = parseInt(pagearea) + 1;
        initpage();
    }
</script>