<ul class="pagination pagination-sm">
    <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
</ul>
<script src="/Scripts/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON("/Manager/WebPage/InitPage", {}, function (data) {
            
        });
    });
</script>