<ul class="pagination pagination-sm" id="tpageinfo">
    
</ul>

@*<ul class="pagination pagination-sm">
    @if(int.Parse(ViewData["CurrentPage"].ToString())<10)
    {
        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
    }
    else
    {
        <li><a href="#" onclick="LeftClick();"><i class="fa fa-angle-left"></i></a></li>
    }
    @{
    int pagezone=0;
    if (ViewData["CurrentPage"].ToString() == ViewData["PageNum"].ToString())
        pagezone = int.Parse(ViewData["PageNum"].ToString());

    for (int i = (int.Parse(ViewData["CurrentPage"].ToString()) - int.Parse(ViewData["CurrentPage"].ToString()) % 10 + 1); i <= pagezone;i++ )
    {
        if(int.Parse(ViewData["CuurentPage"].ToString())==i)
        {
            <li class="active"><a href="@ViewData["ActioName"]">i</a></li>
        }
    }
    }
</ul>*@

@*<script src="/Scripts/jquery-1.9.1.min.js"></script>*@
<script>
    var pagehtml;
    var currentpage;
    var pagenum;
    var actionname;
    $(document).ready(function () {
        $.getJSON("/Manager/WebPage/LoadPageInfo", {}, function (data) {
            //alert(data.currentpage);
            currentpage = data.currentpage;
            pagenum = data.pagenum;
            actionname = data.actionname;
            initpage();
        });
        
    });
    function initpage() {
        if (currentpage < 10) {
            pagehtml = "<li class=\"disabled\"><a href=\"#\"><i class=\"fa fa-angle-left\"></i></a></li>";
        }
        else {
            pagehtml = "<li><a href=\"#\" onclick=\"LeftFunc();\"><i class=\"fa fa-angle-left\"></i></a></li>";
        }
        var pagezone = 0;
        if (currentpage == pagenum) {
            pagezone = pagenum;
        }
        else if (parseInt(currentpage) + parseInt(10 - parseInt(currentpage) % 10) <= parseInt(pagenum)) {
            pagezone = parseInt(currentpage) + parseInt(10 - parseInt(currentpage) % 10);
        }
        else if (parseInt(currentpage) + parseInt(10 - parseInt(currentpage) % 10) > parseInt(pagenum)) {
            pagezone = pagenum;
        }
        for (var i = (parseInt(currentpage) - parseInt(currentpage) % 10 + 1) ; i <= pagezone; i++) {
            if (currentpage == i) {
                pagehtml += "<li class=\"active\"><a href=\"" + actionname + "/" + i + "\">" + i + "</a></li>";
            }
            else {
                pagehtml += "<li><a href=\"" + actionname + "/" + i + "\">" + i + "</a></li>";
            }
        }
        if (parseInt(pagezone) < parseInt(pagenum)) {
            pagehtml += "<li><a href=\"#\" onclick=\"RightFunc();\"><i class=\"fa fa-angle-right\"></i></a></li>";
        }
        else {
            pagehtml += "<li class=\"disabled\"><a href=\"#\"><i class=\"fa fa-angle-right\"></i></a></li>";
        }
        $("#tpageinfo").append(pagehtml);
    }
</script>